{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="login-container">
    <div class="login-card">
        {% if error %}
        <h3>new password is same as old password</h3>
        {% endif %}
        <form method="POST" class="login-form">
            {% csrf_token %}            
            <div class="form-group">
                <input type="password" name="newpass" required>
                <label>New Password</label>
            </div>
            <button type="submit" class="login-btn">
                Submit
            </button>

        </form>
    </div>
</div>

{% endblock %}